/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
   * Remove default margin.
   */
body {
  margin: 0; }

/* HTML5 display definitions
     ========================================================================== */
/**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
[hidden],
template {
  display: none; }

/* Links
     ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
     ========================================================================== */
/**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
abbr[title] {
  border-bottom: 1px dotted; }

/**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
b,
strong {
  font-weight: bold; }

/**
   * Address styling not present in Safari and Chrome.
   */
dfn {
  font-style: italic; }

/**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000; }

/**
   * Address inconsistent and variable font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0; }

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
     ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px; }

/**
   * Address differences between Firefox and other browsers.
   */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
   * Contain overflow in all browsers.
   */
pre {
  overflow: auto; }

/**
   * Address odd `em`-unit font size rendering in all browsers.
   */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible; }

/**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
button,
select {
  text-transform: none; }

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
   * Re-set default cursor for disabled elements.
   */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
   * Remove inner padding and border in Firefox 4+.
   */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
input {
  line-height: normal; }

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * Define consistent border, margin, and padding.
   */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto; }

/**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
optgroup {
  font-weight: bold; }

/* Tables
     ========================================================================== */
/**
   * Remove most spacing between table cells.
   */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack-medium-webfont.woff2") format("woff2"), url("../fonts/lifehack-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html, body {
      font-size: 14px; } }
  @media screen and (max-width: 320px) {
    html, body {
      font-size: 13px; } }

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #2f3234; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0;
  font-family: 'ubunturegular', Helvetica, sans-serif;
  font-weight: 300; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .section--non-centered {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }

.hero {
  background: url("../content/main/bg.png") center center/cover no-repeat;
  position: relative; }

.hero__container {
  height: 100%;
  margin-bottom: 0.75rem; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 23%; } }

.hero__content-img {
  max-width: 100%; }

.hero__desc {
  width: 50%;
  padding-top: 5.625rem;
  margin-left: 1.25rem; }
  @media screen and (max-width: 768px) {
    .hero__desc {
      width: 100%;
      text-align: center; } }

.hero__subtitle {
  font-size: 4.0625rem;
  line-height: 1;
  color: #fff;
  font-family: 'lifehackmedium', Helvetica, sans-serif; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo-icon {
  max-width: 5.75rem; }

.hamburger-menu {
  position: relative;
  height: 1.375rem;
  margin-left: 20px;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamburger-menu__icon {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 3px;
  margin-bottom: 5px; }
  .hamburger-menu__icon:last-child {
    margin-bottom: 0; }

.nav {
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.9375rem; }
  .nav__item:after {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    background: #fff;
    border-radius: 50%;
    display: block;
    margin-left: 0.9375rem; }
  .nav__item:last-child {
    margin-right: 0; }
    .nav__item:last-child:after {
      display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8125rem;
  text-transform: uppercase; }

.btn {
  padding: 0.75rem 0.9375rem;
  border-radius: 5px;
  background: #e35028;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8125rem; }

.title {
  font-size: 4.5rem;
  font-family: 'gagalinregular', Helvetica, sans-serif;
  color: #f9b43b;
  margin-bottom: 2.5rem;
  line-height: 1; }
  .title--color--black {
    color: #2f3234; }
  .title--color--white {
    color: white; }
  .title--center {
    text-align: center; }

.icon-arrow {
  max-width: 1.8125rem;
  display: block;
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.best {
  background: url("../content/best/bg.png") center center/cover no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 2.1875rem;
  text-align: center; }
  .best__item:last-child {
    margin-right: 0; }

.best__picture {
  margin-bottom: 2.1875rem; }

.meat-icon, .hand-icon, .natural-icon {
  max-width: 4.6875rem; }

.best__title {
  color: #2f3234;
  font-family: 'lifehackmedium', Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.25rem; }

.best__text {
  color: #2f3234;
  opacity: .8;
  text-align: center; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  background: center center / cover no-repeat;
  position: relative;
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100);
  filter: grayscale(100); }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.reviews__hover {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(68, 70, 70, 0.5);
  padding: 3.125rem 1.1875rem 1.1875rem 1.1875rem;
  opacity: 0;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      padding-top: 7%; } }

.reviews__title {
  margin-bottom: 1.875rem; }

.reviews__text {
  margin-bottom: 1.25rem; }

.section__form {
  background: url("../content/section__form/bg.png") center center/cover no-repeat;
  color: white;
  font-family: 'ubunturegular', Helvetica, sans-serif;
  font-weight: 300; }

.form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 20%; } }

.form__column {
  margin-right: 1.25rem;
  width: 50%; }
  .form__column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 100%;
      margin: 0; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem; }

.form--oneline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .form--oneline .form__title {
    margin-bottom: 0;
    margin-left: 0.625rem; }

.form__title {
  margin-bottom: 0.4375rem; }

.form__block {
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .form__block:last-child {
    margin-right: 0; }

.form__input {
  padding: 0.5rem 1.3125rem;
  background: white;
  color: #2f3234;
  border-radius: 3px;
  border: none;
  width: 100%; }
  .form__input:focus {
    border: 1px solid #f9b43b;
    outline: none; }
  .form__input--textarea {
    resize: vertical;
    height: 6.875rem; }

.form__radio {
  position: relative;
  cursor: pointer;
  width: 0.9375rem;
  height: 0.9375rem; }
  .form__radio:focus::before {
    content: "";
    position: absolute;
    border: 3.5px solid #e35028;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.form__checkbox:checked::before {
  content: "";
  left: 0px;
  top: 0px;
  width: 5px;
  height: 5px;
  border: solid #e45028;
  border-width: 0 3px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn-clean {
  margin-left: 1.25rem; }

.fixed-menu {
  position: fixed;
  top: 5.9375rem;
  right: 3.3125rem;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item--active .fixed-menu__dot {
  border-color: white; }

.fixed-menu__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  margin-bottom: 0.1875rem;
  position: relative; }
  .fixed-menu__dot::before {
    content: "";
    width: 0.375rem;
    height: 0.375rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .fixed-menu__dot:last-child {
    margin-bottom: 0; }

.team {
  background: url("../content/team/bg.png") center center/cover no-repeat;
  color: white;
  position: relative; }

.team__box {
  position: absolute;
  left: 50%;
  background-color: rgba(47, 50, 52, 0.93);
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5% 2% 0 7%; }
  @media screen and (max-width: 768px) {
    .team__box {
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 20%;
      text-align: center; } }

.members__item {
  margin-bottom: 1.25rem; }
  .members__item:last-child {
    margin-bottom: 0; }
  .members__item .members__elem {
    height: 0;
    overflow: hidden; }
  .members__item--active .members__name {
    color: #f9b43b; }
    .members__item--active .members__name::before {
      display: none; }
    .members__item--active .members__name::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0.375rem;
      left: -1.25rem;
      border-style: solid;
      border-width: 0 4.5px 7px 4.5px;
      border-color: transparent transparent #f9b43b transparent; }
  .members__item--active .members__elem {
    min-height: 6.25rem;
    margin: 0 2.1875rem; }
    @media screen and (max-width: 768px) {
      .members__item--active .members__elem {
        min-height: 12.5rem; } }

.members__name {
  font-family: 'gagalinregular', Helvetica, sans-serif;
  font-size: 0.875rem;
  margin-bottom: 2.1875rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: relative; }
  .members__name::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0.375rem;
    left: -1.25rem;
    border-style: solid;
    border-width: 7px 4.5px 0 4.5px;
    border-color: #f9b43b transparent transparent transparent; }
  .members__name:last-child {
    margin-bottom: 0; }

.members__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .members__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.members__title {
  font-weight: bold; }

.members__pic {
  max-width: 6.25rem;
  min-height: 6.25rem;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1.25rem; }

.menu {
  background: url("../content/food/bg.png") center center/cover no-repeat;
  position: relative; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%; }

.food {
  position: absolute;
  right: 0;
  height: 100%; }

.food__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.food__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .food__item--active .food__title {
    color: #f9b43b; }
  .food__item--active .food__desc {
    min-width: 31.25rem;
    max-height: 100%;
    background: #4c4e50;
    opacity: .8; }

.food__title {
  font-size: 2.5rem;
  height: 100%;
  text-decoration: none;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  padding: 1.25rem; }

.food__desc {
  width: 0;
  height: 100%;
  overflow: hidden; }

.food__text {
  color: white;
  padding: 3.125rem; }

.contacts {
  position: relative;
  font-size: 0.875rem; }

.map {
  background: url("../content/contacts/map.png") center center/cover no-repeat;
  min-height: 100vh; }

.footer {
  background: #2f3234;
  position: absolute;
  bottom: 0;
  min-height: 3.75rem; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.625rem; }

.footer__content {
  max-width: 50%; }

.footer__address {
  color: white; }

.footer__phone {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.phone-icon {
  fill: #e45028;
  max-width: 0.75rem;
  max-height: 0.6875rem; }

.footer__number {
  color: #e45028;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.625rem; }

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.icon {
  cursor: pointer;
  max-width: 1.25rem;
  max-height: 1.25rem;
  margin-right: 1.25rem;
  color: #2f3234;
  opacity: .3;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s; }
  .icon:hover {
    fill: white;
    opacity: 1; }
  .icon:last-child {
    margin-right: 0; }
