html, body {
    height: 100%;
    font-size: 16px;

    @include tablets {
        font-size: 15px;
    }

    @include phones {
        font-size: 14px;
    }

    @include smallscreen {
        font-size: 13px;
    }
}

body {
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    color: $black;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 95%;
    max-width: rem(940px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
    @include ubunturegular;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
}