.best {
    background: url('../content/best/bg.png') center center / cover no-repeat;
}

.best__list {
    display: flex;
}

.best__item {
    flex: 1;
    margin-right: 35px;
    text-align: center;
    &:last-child {
        margin-right: 0;
    }
}

.best__picture {
    margin-bottom: 35px;
}

.best__picture-img {
    height: 75px;
}

.best__title {
    color: $black;
    @include lifehackmedium();
    font-size: 24px;
}

.best__text {
    color: $black;
    opacity: .8;
    margin-top: 20px;
    text-align: center;
}