.best {
    background: url('../content/best/bg.png') center center / cover no-repeat;
}

.best__list {
    display: flex;
}

.best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;
    &:last-child {
        margin-right: 0;
    }
}

.best__picture {
    margin-bottom: rem(35px);
}

.meat-icon, .hand-icon, .natural-icon {
    max-width: rem(75px);
}

.best__title {
    color: $black;
    @include lifehackmedium();
    font-size: rem(24px);
    margin-bottom: rem(20px);
}

.best__text {
    color: $black;
    opacity: .8;
    text-align: center;
}