.contacts {
    background: url('../content/contacts/map.png') center center / cover no-repeat;
    position: relative;
}

.footer {
    background: $black;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.footer__container {
    display: flex;
}

.footer__content {
    width: 50%;
}

.footer__address {
    color: white;
}

.footer__phone {
    display: flex;
    justify-content: flex-start;
}

.footer__number {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
}

.phone-icon {
    fill: $orange;
    max-width: 12px;
}

.footer__socials {
    display: flex;
}

.icon {
    cursor: pointer;
    max-width: 20px;
    margin-right: 20px;
    color: $black;
    opacity: .3;

    &:hover {
        color: white;
    }

    &:last-child {
        margin-right: 0;
    }
}