.contacts {
    position: relative;
    font-size: rem(14px);
}

.map {
    background: url('../content/contacts/map.png') center center / cover no-repeat;
    min-height: 100vh;
}

.footer {
    background: $black;
    position: absolute;
    bottom: 0;
    min-height: rem(60px);
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: rem(10px);
}

.footer__content {
    max-width: 50%;
}

.footer__address {
    color: white;
}

.footer__phone {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phone-icon {
    fill: $orange;
    max-width: rem(12px);
    max-height: rem(11px);
}

.footer__number {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
    margin-left: rem(10px);
}

.footer__socials {
    display: flex;
}

.icon {
    cursor: pointer;
    max-width: rem(20px);
    max-height: rem(20px);
    margin-right: rem(20px);
    color: $black;
    opacity: .3;
    transition: opacity .4s;

    &:hover {
        fill: white;
        opacity: 1;
    }

    &:last-child {
        margin-right: 0;
    }
}