.scroll-down-btn {
    background: url("../content/main/scroll-down-btn.png") center center / contain no-repeat;
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}