.section__form {
    background: url('../content/section__form/bg.png') center center / cover no-repeat;
    color: white;
    @include ubunturegular;
}

.form__elem {
    display: flex;

    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: 0 20%;
    }

    @include phones {
        padding: 0;
    }
}

.form__column {
    margin-right: rem(20px);
    width: 50%;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        width: 100%;
        margin: 0;
    }

}

.form__row {
    width: 100%;
    display: flex;
    margin-bottom: rem(10px);

    @include phones {
        justify-content: center;
    }
}

.form--oneline {
    display: flex;
    align-items: center;

    .form__title {
        margin-bottom: 0;
        margin-left: rem(10px);
    }
}

.form__title {
    margin-bottom: rem(7px);
}

.form__block {
    margin-left: rem(20px);
    flex: 1;
    
    &:first-child {
        margin: 0;
    }

    &--hidden-on-mobile {
        display: none;
    }

    @include phones {
        justify-content: center;
    }

  }

  .form__input {
      padding: rem(8px) rem(21px);
      background: white;
      color: $black;
      border-radius: 3px;
      border: none;
      width: 100%;

      &:focus {
        border: 1px solid $yellow;
        outline: none;
      }

      &--textarea {
        resize: vertical;
        height: rem(110px);
    }
  }

  .form__radio {
	position: absolute;
	opacity: 0;
    margin: 10px 0 0 7px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
    left: 0;
    
    &:checked ~ .radio {
        background: #fff;
        width: 10px;
        height: 10px;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid $orange;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

  .form__checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
    margin: 10px 0 0 20px;
    
    &:checked ~ .checkbox {
        
    }
  }

  .btn-clean {
      margin-left: rem(20px);
  }