.title {
    font-size: 72px;
    @include gagalinregular();
    color: $yellow;
    margin-bottom: 40px;
    line-height: 1;
    &--color {
        &--black {
            color: $black;
        }
        &--white {
            color: white;
        }
    }
    &--center {
        text-align: center;
    }
}